{% extends 'base.html' %}
{% block content %}

<h2>{{ title }}</h2>
<p>year released: {{ year }}</p>
<p><a href="{{ url }}">find on imdb</a></p>
<p>average rating: {{ avg }}</p>

{% if session["user_id"] %}
    {% if user_rating %}
        <p>your rating: {{ user_rating[0] }}</p>
    {% else %}
        <p>you have not yet rated this movie</p>
    {% endif %}

    Rate this movie 1-5
    <form method="POST" action="/add-rating">
        <span class="star-rating">
          <input class="star" type="radio" name="rating" value="1"><i></i>
          <input class="star" type="radio" name="rating" value="2"><i></i>
          <input class="star" type="radio" name="rating" value="3"><i></i>
          <input class="star" type="radio" name="rating" value="4"><i></i>
          <input class="star" type="radio" name="rating" value="5"><i></i>
        </span>
        <div id="alert"></div>
    </form>
    <script>
        function addRating(evt) {
            $.post('/add-rating', {'value': this.value, 'movie_id': {{ movie_id }}}, function (data) {
                console.log(data);
                $('#alert').html(data);
            });
        }

        $(".star").on('click', addRating);
    </script>

{% else %}
    <p><a href="/login-form">Log in</a> to rate this movie</p>
{% endif %}


<!-- logic to see if logged in; else message - "Log in to rate"
     see if they have rated this movie and show the rating if so
     show the rating form either way. -->
<p>

    <ul>
        {% for user_id, score in ratings %}
            <li>
                <a href="/users/{{ user_id }}">{{ user_id }}</a> ({{ score }})
            </li>
        {% endfor %}
    </ul>

{% endblock %}